/* Remove default margins and padding from the page */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box-sizing */
    width: 100%; /* Ensures full width */
}

/* Style the main element */
main {
    font-family: "Graduate", serif;
    font-weight: 10;
    font-style: normal;
    text-align: center;
}

/* Style the header */
header {
    background-color: #C8102E;
}

/* Style the header text */
header h1 {
    color: white;
    margin: 0; /* Remove default margin */
    padding: 20px; /* Adds spacing inside the header */
}

form{
    margin: 30px 0;
}
